version: "3"
services:
  develop:
    build: .
    ports:
      - "3055:3055"
    environment:
      CT_REGISTER_MODE: auto
      CT_URL: http://mymachine:9000
      NODE_PATH: app/src
      LOCAL_URL: http://mymachine:3055
      CT_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Im1pY3Jvc2VydmljZSIsImNyZWF0ZWRBdCI6IjIwMTYtMDktMTQifQ.IRCIRm1nfIQTfda_Wb6Pg-341zhV8soAgzw7dd5HxxQ
      API_VERSION: v1
      FASTLY_ENABLED: "false"
    command: develop
    volumes:
      - ./app:/opt/adapter-arcgis/app
